body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; /* sets the default margin */
    padding: 0; /* sets the defauly margin */
    
}

body::before { /* allows you to style before the actual content of the body */
    content: ""; /* it activates the element of body-before */
    position: absolute; /* it ensures that the viewport (background image) can cover the entire page */
    top: 0;
    left: 0; /* ensures that the element (background image) starts at the top left corner */
    width: 100%;    
    height: 100%;
    background-image: url("images/background1.jpg");
    background-size: cover; 
    opacity: 0.8; /* Adjust the transparency of the background image */
    z-index: -1; /* Ensure it stays behind the content */
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.4); /* Add a semi-transparent black background */
    padding: 8px 0; /* Add padding to the top and bottom */
}

.items {
    display: flex;
    background-color: none;
    border-radius: 5px;
    color: white;
    text-decoration: none; /* deletes the underline effect for links */
}

.items:hover {
    background-color: rgb(147, 175, 175); /* Changes the background color on hover */
}

.profile-container {
    display: flex;
    background-color: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 210px;
}

.profile-image {
    width: 120px;
    height: auto;
    background-color: rgb(121, 170, 200);
    border-radius: 30%;
    border: 1px solid white;
    box-shadow: inset 0 0 0 5px white; /* creates an inner shadow within the background */
    

}

#name {
    font-size: 40px;
    color: white;
    margin-bottom: 5px;
    font-weight: bold;
}

#profile_description {
    font-size: 20px;
    color: white;
    margin-top: 10;
    font-weight: bold;
}

main {
    padding-top: 240px; /* Add padding to the top of the main content so it doesn't overlap the header content */
}

/* Section Styles */
section {
    padding: 60px 20px;
    background-color: black; 
    margin: 20px auto;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
}

/*--About Me Section Styles--*/

#about-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px; /* Adds 40 pixels of padding to the top and bottom, and 20 pixels to the left and right, creating space inside the container. */
    background-color: #7a7a7a; /* Adjust the background color to match the example image */
    border-radius: 10px;
}

#about-container::before {
    content: ""; 
    position: absolute; 
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    background-image: url("images/about-me-background.png");
    background-size: cover; 
    opacity: 0.4; 
    z-index: 0;
}

#about-me-img {
    width: 400px; /* Adjust size as needed */
    height: auto;
    border-radius: 30%;
    margin-right: 40px; /* Adds 20 pixels of space to the right of the image, creating a gap between the image and the text. */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 80);
    z-index: 1; /* Ensures the image is above the background overlay */
}

.about-me-items {
    display: flex;
    flex-direction: column;
    color: white;
    max-width: 600px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Adds a shadow to the text to enhance readability*/
    z-index: 1; /* Ensures the text is above the background overlay */
}

.about-me-items h2 {
    font-size: 36px;
    margin-bottom: 10px; /* Reduced margin to bring title closer to the text */
}

.about-me-items p {
    font-size: 18px;
    max-width: 600px; /* Adjust max width as needed */
    margin: 0;
    padding: 0; /* Removed padding to eliminate unnecessary space */
    line-height: 1.6; /* Creates more space in between each line of paragraph to enhance readability */
}

/*--Education Section Styles--*/

#education-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px; /* Adds 40 pixels of padding to the top and bottom, and 20 pixels to the left and right, creating space inside the container. */
    background-color: #7a7a7a; /* Adjust the background color to match the example image */
    border-radius: 10px;
}

#education-container::before {
    content: ""; 
    position: absolute; 
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    background-image: url("images/education-background.jpg");
    background-size: cover; 
    opacity: 0.4; 
    z-index: 0;
}


#education-img {
    width: 400px; /* Adjust size as needed */
    height: auto;
    border-radius: 50%;
    margin-right: 80px; /* Adds 20 pixels of space to the right of the image, creating a gap between the image and the text. */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1; /* Ensures the image is above the background overlay */
}

.education-items {
    display: flex;
    flex-direction: column;
    color: white;
    max-width: 600px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Adds a shadow to the text to enhance readability */
    z-index: 1; /* Ensures the text is above the background overlay */
}

.education-items h2 {
    font-size: 36px;
    margin-bottom: 10px; /* Reduced margin to bring title closer to the text */
}

.education-items p {
    font-size: 18px;
    max-width: 600px; /* Adjust max width as needed */
    margin: 0;
    padding: 0; /* Removed padding to eliminate unnecessary space */
    line-height: 1.6; /* Creates more space in between each line of paragraph to enhance readability */
}

/*-- Work Experience Section Styles--*/

#work-experience-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px; /* Adds 40 pixels of padding to the top and bottom, and 20 pixels to the left and right, creating space inside the container. */
    background-color: #7a7a7a; /* Adjust the background color to match the example image */
    border-radius: 10px;
}

#work-experience-container::before {
    content: ""; 
    position: absolute; 
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    background-image: url("images/work-experience-background.png");
    background-size: cover; 
    opacity: 0.4; 
    z-index: 0;
}

.work-experience-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px; /* Space between each work experience item */
    z-index: 1;
    margin-right: 25px;
}

.work-experience-img {
    width: 80px;
    height: auto;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin: 0 200px;
}

.work-experience-items h2 {
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.work-experience-items p {
    font-size: 15px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin: 0;
    text-align: center;
    width: 80%;
}

/*--Hobbies style section--*/

#hobbies-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px; /* Adds 40 pixels of padding to the top and bottom, and 20 pixels to the left and right, creating space inside the container. */
    background-color: #7a7a7a; /* Adjust the background color to match the example image */
    border-radius: 10px;
    max-width: 100%; /* Ensure the container doesn't exceed the viewport width */
}

#hobbies-container::before {
    content: ""; 
    position: absolute; 
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    background-image: url("images/hobbies-background.jpg");
    background-size: cover; 
    opacity: 0.4; 
    z-index: 0;
}

.hobbies-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px; /* Space between each work experience item */
    z-index: 1;
    margin-right: 30px;
}

.hobbies-img {
    width: 80px;
    height: auto;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    margin: 0 200px;
}

#hobbies-piano {
    width: 140px;
    height: auto;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    margin: 0 200px;
}

.hobbies-items h2 {
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.hobbies-items p {
    font-size: 15px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin: 0;
    text-align: center;
    width: 80%;
}

/*--Contact Section Styles--*/

#contact-container {
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent black background */
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    color: white;
    padding: 5px 0;
}

.contact-items h2 {
    font-size: 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.contact-items p {
    margin-top: -5px;
}


.contact-items img{
    width: 60px;
    height: auto;
    padding-left: 25px;
    margin-top: -20px;
}













